<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<body>
  Here are your results!

  <ul >
  <% for(var i=0; i<cityEvent.length; i++) {%>
    <li>
      <span><%= cityEvent[0].events.splice(0,5) %></span>
    </li>
  <% } %>
  </ul>

</body>
</html>
