<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<body>
  Here are your results!

  <table align="center" border="1">
  <% for(var i=0; i<cityEvent_original.length; i++) {%>
    <tr>
      <td><%= cityEvent_original[i] %></td>
    </tr>
  <% } %>
  </table>

</body>
</html>
